// .categories-page {
//     padding: 20px;
//     background-color: #333;
//     color: crimson;
//   }
  
//   .category-list {
//     list-style: none;
//     display: flex;
//     flex-wrap: wrap;
//     gap: 15px;
//   }
  
//   .category-item {
//     background-color: #333;
//     color: white;
//     padding: 10px 20px;
//     border-radius: 8px;
//     cursor: pointer;
//     transition: background 0.3s;
  
//     &:hover {
//       background-color: #555;
//     }
//   }
  
.categories-page {
    padding: 20px;
    text-align: center;
    background-color: #222;
    color: red;
    height: 100vh;
  }
  
  .category-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .category-card {
    width: 150px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s;
    background-color: #222;
  
    &:hover {
      transform: scale(1.05);
    }
  
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  
    .category-name {
      padding: 10px;
      font-weight: bold;
      color: rgb(248, 3, 3);
    }
  }
  